/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
6. Contact
7. Footer
-------------------- */

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #B69FF2;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);
    --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--primary-color) 79.69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);

    /* Text Color */
    --primary-font:'Poppins', sans-serif;
    --primary-text: #B69FF2;
    --text-gray: #c6c9d8bf;
    --text-white: #fff;
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

section {
    padding: 50px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

h1 {
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
}

h1 span {
    color: var(--primary-color);
}

h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-white);
}

h6 {
    color: var(--text-gray);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
}

p {
    color: var(--text-gray);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}

.subtitle {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: var(--primary-color);
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 333333px 333333px 333333px black;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
    outline: none !important;
    box-shadow: none !important; 
}

/* 2 Navbar */
.header_wrapper .navbar {
    padding:15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--gray-color);
    line-height:2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display:inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--text-white);
}

.header-scrolled {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: var(--primary-text);
}
.wrapper{
    background-color: #9075AD;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%239075AD'/%3E%3Cstop offset='1' stop-color='%23182440'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
/* 3 Banner */
.banner_wrapper {
    width: 100%;
    height: auto;
    min-height: 650px;
    height: 100vh;
background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 0 100px 0;

}
.hero_image_container{
    width: 75%; 
    max-width: 300px; 
    aspect-ratio: 1; 
    border-radius: 50%; 
    overflow: hidden;
    margin: auto; 
    /* border:solid 3px var(--primary-color); */
    box-shadow: 2px 2px 20px var(--primary-color);
}
.hero_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 4 About */
.about_wrapper ul.nav-pills {
    border: 1px solid var(--gray-color);
    border-radius: 50px;
}

.about_wrapper ul li .nav-link {
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
    display: inline-block;
    color: var(--text-gray);
    border: 0;
    transition: 0.3s;
}

.about_wrapper ul li .nav-link.active {
    background-color: var(--primary-color);
}

.about_wrapper .single-progress {
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}

.about_wrapper .single-progress .progress {
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--bg-white);
    overflow: visible;
}

.about_wrapper .progress-bar {
    background-color: var(--primary-color);
    background-image: var(--gradient-color);
}

.about_wrapper .single-progress h6 {
    text-align: left;
}

.about_wrapper .single-progress .label {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--text-gray);
    font-size: 15px;
}

.about_wrapper .tab-pane li {
    color: var(--gray-color);
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    list-style: none;
}

.about_wrapper .tab-pane li a {
    font-weight: 500;
    display: block;
    color: var(--text-gray);
}

/* 4 Services */
.services_wrapper .card {
    background-color: var(--bg-dark-blue);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.services_wrapper .card:hover {
    box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
    transform: translateY(-5px);
}

/* 5 Portfolio */
.portfolio_wrapper .card {
    height:100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid var(--bg-white);
    cursor: pointer;
    box-shadow: 0 0 16px 4px var(--bg-dark-blue); 
}

.portfolio_wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}

.portfolio_wrapper .card:hover span {
    background-position: bottom center;
}

/* 6 Contact */
.contact_wrapper .form-control,
.contact_wrapper textarea {
    background-color: transparent;
    border-color: var(--gray-color);
    color: var(--text-gray);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus { 
    border-color: var(--primary-color);
    color: var(--text-white); 
}  
.contact_wrapper .call_details{
    color:var(--text-gray);
}
.contact_wrapper .call_details a{
    font-weight: 700;
    color:var(--text-gray);
}
/* 7 footer */
.footer_wrapper {
    background-color: var(--bg-dark-blue);
    padding: 20px 0;
}

.footer_wrapper .footer-logo img {
    width: 100px;
}

.footer_wrapper .social-icon li {
    margin: 6px;
}

.footer_wrapper .social-icon a {
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
    transform: translateY(-3px);
}
.footer_wrapper .copyright-text p{
    font-size:11px;
    line-height: 20px;
}
.footer_wrapper .copyright-text a {
    color: var(--primary-color);
}
/* Responsive Code */
@media (max-width:991px) {

    /* custom css */
    section{
        padding: 30px 0;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
    }

    /* 2 Navbar */
    .header-scrolled {
        height: auto;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
    }

    /* banner wrapper */
    .banner_wrapper {
        padding: 200px 0;
    }

    /* About */
    .about_wrapper ul.nav-pills{
        width:61%;
        margin:auto;

    }

    /* portfolio */
    .portfolio_wrapper .card {
        min-height: 400px;
    }

}

@media (max-width: 767px) {

    /* custom css */
    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
    }

    /* About */
    .about_wrapper ul.nav-pills{
        width:100%;
        margin:auto;
        border:0;
    }
    .about_wrapper ul li .nav-link {
        font-size: 13px;
    } 

    /* portfolio */
    .portfolio_wrapper .card {
        min-height: 500px;
    }
} 

        
      